extends layout
block content
    a(href='/') Back
    // Wrapper
    #wrapper
        // Offer INFO
        #offerInfo
            h2 Offer Info
            p

                strong header:
                |  <span id='offerHeaderS'></span>
                br
                strong Timings
                |  <span id='offerVenue'></span>
        #offerList
            table
                thead
                    th Offer Name
                    th Venue
                    th Delete?
                tbody

        // ADD Offer
        h2 Add Offer
        #addUser
            fieldset
                input#offerHeaderString(type='text', placeholder='header string')
                input#offerPhotoString(type='text', placeholder='photo string')
                br
                select#offerType
                    option(value="0") Select Type
                    option(value="Food") Food
                    option(value="Drink") Drink
                    option(value="GuestList") GuestList
                select#offerIsFeatured
                    option(value="-1") Is Featured
                    option(value="0") False
                    option(value="1") True
                br
                select#offerVenueV
                    option(value="0") Select a Venue
                    -for (var x = 0; x < venue.length; x++)
                        option(value= "#{venue[x]._id}") #{venue[x].name}
                br
                input#offerStartDate.date(type='text',placeholder='Start Date')
                input#offerEndDate.date(type='text',placeholder='End Date')
                br
                button#btnAddOffer Add Offer
        // /ADD Offer
    // /WRAPPER