doctype html
html
    head
    body
        a(href="/logout") Logout
        h1 Welcome
        p
            a(href="/admin-venue") Venues
        p
            a(href="/admin-offer") Offers
        p
            a(href="/admin-event") Events