doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/jquery-ui-1.10.4.custom.min.css')
        script(data-main='/javascripts/app' src='/javascripts/lib/require.js')
    body
    a(href='/') Back
    // Wrapper
    #wrapper
        // Venue INFO
        #venueInfo
            h2 Venue Info
            p
                strong Name:
                input#venueInfoName(type='text')
                br
                strong Address:
                |  <span id='venueInfoAddress'></span>
                br
                strong Phone:
                |  <span id='venueInfoPhone'></span>
                br
                strong Location:
                |  <span id='venueInfoLocation'></span>
                br
                strong Timings
                |  <span id='venueInfoTimings'></span>
                br
                button#edit Edit
        #venueList
            table
                thead
                    th Venue Name
                    th Location
                    th Delete?
                tbody

        // ADD USER
        h2 Add Venue
        #addUser
            fieldset
                input#venueName(type='text', placeholder='Venue Name')
                input#venueImage(type='text', placeholder='Image Url')
                br
                input#venueAddress(type='text', placeholder='Address')
                input#venuePhone(type='tel', placeholder='Phone')
                br
                .textClass Short Description   &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Detail Description
                textarea#venueShortDesc
                textarea#venueLongDesc
                br
                input#venueTimings(type='text', placeholder='Timings')
                select#venueSelCity
                    option(value="0") Select City
                    option(value="Gurgaon") Gurgaon
                    option(value="Noida") Noida
                    option(value="Delhi") Delhi
                select#venueSelType
                    option(value="0") Select Type
                    option(value="Pub") Pub
                    option(value="Night Club") Night Club
                    option(value="Resto Bar") Resto Bar
                br

                button#btnAddVenue Add Venue
        // /ADD USER

    // /WRAPPER