doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/jquery-ui-1.10.4.custom.min.css')
        script(data-main='/javascripts/app' src='/javascripts/lib/require.js')
    body
    a(href='/') Back
    // Wrapper
    #wrapper
        // Venue INFO
        #venueInfo
            h2 Venue Info
            p
                strong Name:
                input#venueInfoName(type='text',data-id='sex')
                br
                strong Address:
                input#venueInfoAddress(type='text')
                br
                strong Phone:
                input#venueInfoPhone(type='text')
                br
                strong Latitude:
                input#venueInfoLatitude(type='text')
                br
                strong Longitude:
                input#venueInfoLongitude(type='text')
                br
                strong Timings
                input#venueInfoTimings(type='text')
                select#venueInfoSelCity
                    option(value="0") Select City
                    option(value="Gurgaon") Gurgaon
                    option(value="Noida") Noida
                    option(value="Delhi") Delhi
                br
                select#venueInfoSelType
                    option(value="0") Select Type
                    option(value="Pub") Pub
                    option(value="Night Club") Night Club
                    option(value="Resto Bar") Resto Bar
                //br
                &nbsp&nbsp
                select#venueInfoSelActive
                    option(value="0") Active
                    option(value="Y") Yes
                    option(value="N") No
                br
                strong Version#
                input#venueInfoVersion(type='number',readonly='readonly')
                br
                strong Image:
                input#venueInfoImage(type='text')
                br
                strong Short Description
                textarea#venueInfoShortDesc
                br
                strong Long Description
                textarea#venueInfoLongDesc
                strong Extra1
                textarea#venueInfoExtra1
                br
                strong Extra2
                textarea#venueInfoExtra2
                br
                strong Extra3
                textarea#venueInfoExtra3
                br
                strong Extra4
                textarea#venueInfoExtra4
                br
                strong Extra5
                textarea#venueInfoExtra5
                br
                button#edit Edit
        #venueList
            table
                thead
                    th Venue Name
                    th Location
                    th Active
                    th Delete?
                tbody

        // ADD USER
        h2 Add Venue
        #addUser
            fieldset
                input#venueName(type='text', placeholder='Venue Name')
                input#venueImage(type='text', placeholder='Image Url')
                br
                input#venueLatitude(type='text', placeholder='Latitude')
                input#venueLongitude(type='text', placeholder='Longitude')
                br
                input#venueAddress(type='text', placeholder='Address')
                input#venuePhone(type='tel', placeholder='Phone')
                br
                .textClass Short Description   &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Detail Description
                textarea#venueShortDesc
                textarea#venueLongDesc
                br
                input#venueTimings(type='text', placeholder='Timings')
                &nbsp&nbsp
                select#venueSelCity
                    option(value="0") Select City
                    option(value="Gurgaon") Gurgaon
                    option(value="Noida") Noida
                    option(value="Delhi") Delhi
                &nbsp&nbsp
                select#venueSelType
                    option(value="0") Select Type
                    option(value="Pub") Pub
                    option(value="Night Club") Night Club
                    option(value="Resto Bar") Resto Bar          
                br
                label Active &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                select#venueSelActive
                    option(value="Y") Yes
                    option(value="N") No
                &nbsp&nbsp
                label Version# &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                input#venueVersion(type='text', readonly='readonly' value=1)
                br
                .textClass Extra1 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Extra2
                textarea#venueExtraInfo1
                textarea#venueExtraInfo2
                br
                .textClass Extra3 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Extra4
                textarea#venueExtraInfo3
                textarea#venueExtraInfo4
                br
                .textClass Extra5
                textarea#venueExtraInfo5
                br

                button#btnAddVenue Add Venue
        // /ADD USER

    // /WRAPPER