doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(data-main='/javascripts/app' src='/javascripts/lib/require.js')
    body
    #wrapper
        h2 Sign In
        form(name="login", action="/admin/login", method="post")
            input(type="text", name="user")
            br
            input(type="password", name="pass")
            br
            input(type="submit", value="login")
    // /WRAPPER