doctype html
<html>
<body>
script(data-main='/javascripts/app' src='/javascripts/lib/require.js')
<h1>Partyy Server Welcomes you </h1>
<p><a href="/admin-venue">Venues </a></p>
<p><a href="/admin-user">User </a></p>
<p><a href="/admin-offer">Offers </a></p>
<p><a href="/admin-event">Events</a></p>
</body>
</html>
