doctype html
html(ng-app='Mojitoapp')

    title Mojito
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(property='og:type', content='website')
    meta(property='og:title', content='Mozito')
    meta(property='og:site_name', content='Mozito')
    meta(name='description', content='Download the free Mozito app to get the best nightclub offers.')
    meta(property='og:description', content='Download the free Mozito app to get the best nightclub offers.')
    meta(name='viewport', content='width=device-width  initial-scale=1.0  maximum-scale=1.0  minimum-scale=1.0  user-scalable=no')
    meta(name='apple-mobile-web-app-capable', content='yes')
    script(src='/javascripts/lib/jquery-1.11.1.min.js')
head
        base(href=city)
        link(rel='stylesheet', href='/stylesheets/site-styles.css')
body.body-index.body-barcelona
    .section-header-bg
        .container
            nav.navbar.navbar-inverse.mozitos-navi(role='navigation')
                .navbar-header
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                        span.sr-only Toggle navigation
                        span.icon-bar.bg-offers
                        span.icon-bar.bg-events
                        span.icon-bar.bg-venues
                    a.navbar-brand(href='/gurgaon')
                        img(src='/img/elements/mozitoslogo.png', alt='mozitos')
                #bs-example-navbar-collapse-1.collapse.navbar-collapse
                    ul.nav.navbar-nav
                        li.dropdown
                            a.dropdown-toggle(href='#', data-toggle='dropdown')
                                | gurgaon
                                b.caret
                            ul.dropdown-menu
                                li
                                    a(href='/delhi') Delhi
                                li."active"
                                    a(href='/gurgaon') gurgaon
                    ul.nav.navbar-nav.navbar-right
                        li.section-link
                            a.color-offers(href='/gurgaon/offers') Offers
                        li.section-link
                            a.color-events(href='/gurgaon/events') Events
                        li.section-link
                            a.color-venues(href='/gurgaon/venues') Venues
    ng-view
script(src='/javascripts/lib/angular/angular.js')
script(src='/javascripts/lib/angular/angular-route.js')
script(src='/javascripts/site/app.js')
script(src='/javascripts/site/controllers.js')