doctype html
html(ng-app='Mojitoapp')

    title Mojito
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(property='og:type', content='website')
    meta(property='og:title', content='Mozito')
    meta(property='og:site_name', content='Mozito')
    meta(name='description', content='Download the free Mozito app to get the best nightclub offers.')
    meta(property='og:description', content='Download the free Mozito app to get the best nightclub offers.')
    meta(name='viewport', content='width=device-width  initial-scale=1.0  maximum-scale=1.0  minimum-scale=1.0  user-scalable=no')
    meta(name='apple-mobile-web-app-capable', content='yes')

head
        base(href=city)
        link(rel='stylesheet', href='/stylesheets/site-styles.css')
body.body-index.body-barcelona
    ng-view
script(src='/javascripts/lib/angular/angular.js')
script(src='/javascripts/lib/angular/angular-route.js')
script(src='/javascripts/site/app.js')
script(src='/javascripts/site/controllers.js')