#offers.section.section-offers(ng-controller='offersController')
    .container
        .section-title.rounded
            h2 Offers in Mozito app

        ul.mozitos-cards.row
            li.col-xs-12.col-sm-6.col-md-3(ng-repeat="o in offers")
                .mozitos-card.mozitos-card-offer.rounded
                    .mozitos-card-header
                        .row
                            .col-xs-3.col-sm-3.col-md-4
                                .mozitos-card-icon.mozitos-card-icon-offer.rounded
                                    img.img-responsive(src='img/star.png')
                            .col-xs-9.col-sm-9.col-md-8.heading
                                h4 {{o.header}}
                    a(ng-href='/venues/{{o.venue._id}}')
                        .mozitos-card-image(style='background-image: url({{o.photoString}})')
                    .mozitos-card-footer
                        .row
                            .col-xs-10
                                a.mozitos-card-footer-link(ng-href='/venues/{{o.venue._id}}')
                                    | {{o.venue.name}}
                            .col-xs-2
                                .venue-status.venue-status-closed