div(ng-controller = 'venueController')
  article.detail(itemscope='itemscope', itemtype='http://schema.org/BarOrPub')
        .container
          .row
            .col-xs-12
              .rounded.block-header.detail-header
                h1(itemprop='name') {{v.name}}
          .row
            .col-sm-6.col-md-4
              img.img-responsive.img-rounded(src='{{v.image}}', alt='Gurgaon')
            .col-sm-6.col-md-8
              .row
                .col-sm-12.col-md-6
                  .block-header
                    h3 Venue info
                  p
                    | {{v.sDescription}}
                  p
                    | {{v.bDescription}}
                .col-sm-12.col-md-6
                  .block-header
                    h3 Contact details
                  address(itemprop='address', itemscope='itemscope', itemtype='http://schema.org/PostalAddress')
                    span(itemprop='streetAddress') {{v.address}}
                    | ,
                    span(itemprop='addressLocality') {{v.city}}
                  #map-canvas.map.rounded(data-name='KIILA Food & Bar', data-lat='60.1682072', data-lng='24.94020009999997')
  .container(ng-if="o.length>0")
    .row
      .col-xs-12
        .block-header
          h2 Offers in venue
    ul.mozitos-cards.row
      li.col-xs-12.col-sm-6.col-md-3(ng-repeat = "O in o")
        .mozitos-card.mozitos-card-offer.rounded
          .mozitos-card-header
            .row
              .col-xs-3.col-sm-3.col-md-4
                .mozitos-card-icon.mozitos-card-icon-offer.rounded
                  img.img-responsive(src='img/star.png')
              .col-xs-9.col-sm-9.col-md-8.heading
                h4 {{O.header}}
          a
            .mozitos-card-image(style='background-image: url({{O.photoString}}')
          .mozitos-card-footer
            .row
              .col-xs-10
                .mozitos-card-footer-link
                  | {{O.venue.name}}
              .col-xs-2
                .venue-status.venue-status-closed
  .container(ng-if="e.length>0")
    .row
      .col-xs-12
        .block-header
          h2 Events in venue
    ul.mozitos-cards.row
      li.col-xs-12.col-sm-6.col-md-3(ng-repeat = "E in  e")
        .mozitos-card.mozitos-card-event.rounded
          .mozitos-card-header
            .row
              .col-xs-3.col-sm-3.col-md-4
                .mozitos-card-icon.mozitos-card-icon-event.rounded
                  img.img-responsive(src='img/star.png')
              .col-xs-9.col-sm-9.col-md-8.heading
                h4 {{E.title}}
          a(ng-href='/venues/{{E._id}}')
            .mozitos-card-image(style='background-image: url({{E.photo1}})')
          .mozitos-card-footer
            .row
              .col-xs-10
                .mozitos-card-footer-link
                  | {{E.venue.name}}
              .col-xs-2
                .venue-status.venue-status-closed