#offers.section.section-offers(ng-controller='wPController')
    .container
        .section-title.rounded
            h2 Offers in Mozito app

        ul.mozitos-cards.row
            li.col-xs-12.col-sm-6.col-md-3(ng-repeat="o in offers")
                .mozitos-card.mozitos-card-offer.rounded
                    .mozitos-card-header
                        .row
                            .col-xs-3.col-sm-3.col-md-4
                                .mozitos-card-icon.mozitos-card-icon-offer.rounded
                                    img.img-responsive(src='img/star.png')
                            .col-xs-9.col-sm-9.col-md-8.heading
                                h4 {{o.header}}
                    a(ng-href='/venues/{{o.venue._id}}')
                        .mozitos-card-image(style='background-image: url({{o.venue.image}})')
                    .mozitos-card-footer
                        .row
                            .col-xs-10
                                a.mozitos-card-footer-link(ng-href='/venues/{{o.venue._id}}')
                                    | {{o.venue.name}}
                            .col-xs-2
                                .venue-status.venue-status-closed
        a.bg-offers.rounded.show-more( ng-href="{{city}}/offers") More...
#events.section.section-events(ng-controller='wPController')
    .container
        .section-title.rounded
            h2 Events in Mozito app

        ul.mozitos-cards.row
            li.col-xs-12.col-sm-6.col-md-3(ng-repeat="e in events")
                .mozitos-card.mozitos-card-event.rounded
                    .mozitos-card-header
                        .row
                            .col-xs-3.col-sm-3.col-md-4
                                .mozitos-card-icon.mozitos-card-icon-event.rounded
                                    img.img-responsive(src='img/star.png')
                            .col-xs-9.col-sm-9.col-md-8.heading
                                h4 {{e.title}}
                    a(ng-href='/venues/{{e._id}}')
                        .mozitos-card-image(style='background-image: url({{v.photo1}});')
                    .mozitos-card-footer
                        .row
                            .col-xs-10
                                a.mozitos-card-footer-link(ng-href='/events/{{e._id}}')
                                    | {{e.venue.name}}
                            .col-xs-2
                                .venue-status.venue-status-closed
        a.bg-events.rounded.show-more(ng-href='{{city}}/events') More...
#venues.section.section-venues(ng-controller='wPController')
    .container
        .section-title.rounded
            h2 Venues
        ul.mozitos-cards.row
            li.col-xs-12.col-sm-6.col-md-3(ng-repeat="v in venues")
                .mozitos-card.mozitos-card-venue.rounded
                    .mozitos-card-header
                        .row
                            .col-xs-3.col-sm-3.col-md-4
                                .mozitos-card-icon.mozitos-card-icon-venue.rounded
                                    img.img-responsive(src='img/star.png')
                            .col-xs-9.col-sm-9.col-md-8.heading
                                h4 {{v.name}}
                    a(ng-href='/venues/{{v._id}}')
                        .mozitos-card-image(style='background-image: url({{v.image}});')
                    .mozitos-card-footer
                        .row
                            .col-xs-10
                                a.mozitos-card-footer-link(ng-href='/venues/{{v._id}}')
                                    | {{v.address}}
                                .col-xs-2
                                    .venue-status.venue-status-closed
        a.bg-venues.rounded.show-more(ng-href="{{city}}/venues") More...